HS_Code_Recommender.json
{
  "name": "HS_Code_Recommender",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.final_query }}",
        "options": {
          "systemMessage": "=Bạn là chuyên gia tư vấn phân loại mã HS Nông sản cấp cao thuộc hệ thống Zero-Stop e-Border. Nhiệm vụ của bạn là tra cứu và cung cấp mã HS dựa trên dữ liệu từ Vector Store.\n\nQUY TẮC ĐIỀU PHỐI CÔNG CỤ:\n- LUÔN LUÔN gọi công cụ Qdrant để lấy dữ liệu thực tế. Tuyệt đối không tự bịa mã HS.\n\nCHIẾN LƯỢC TRẢ LỜI LINH HOẠT (QUAN TRỌNG):\nDựa vào kết quả tra cứu từ Qdrant và các thông tin khách hàng ĐÃ CHỐT (ví dụ: Rêu, sấy khô, đóng bao bì), bạn phải tự đánh giá mức độ chính xác để chọn 1 trong 2 kịch bản trả lời sau:\n\n🔴 KỊCH BẢN 1: TÌM THẤY 1 MÃ KHỚP CHÍNH XÁC 100%\nNếu thông tin khách hàng cung cấp đã cực kỳ chi tiết và khớp hoàn toàn với một mã duy nhất trong cơ sở dữ liệu:\n- Đưa ra NGAY LẬP TỨC mã HS đó.\n- Giải thích ngắn gọn lý do áp mã.\n- TUYỆT ĐỐI KHÔNG liệt kê thêm các lựa chọn sai lệch (như đóng hộp, hàng tươi...).\n- TUYỆT ĐỐI KHÔNG đặt thêm bất kỳ câu hỏi nào ở cuối.\n*Ví dụ:* \"Dựa trên mô tả 'Rêu và địa y sấy khô, đóng bao bì', mã HS chính xác cho lô hàng của bạn là [Mã HS]. (Giải thích: ...)\"\n\n🟡 KỊCH BẢN 2: CHƯA ĐỦ THÔNG TIN ĐỂ CHỐT 1 MÃ (Nhiều kết quả)\nChỉ áp dụng khi dữ liệu của khách hàng vẫn còn chung chung, khiến hệ thống trả về nhiều mã HS có khả năng đúng:\n1. Liệt kê tối đa 3 mã HS sát nhất.\n2. Giải thích điểm khác biệt giữa các mã.\n3. Đặt ĐÚNG 1 CÂU HỎI để khách hàng xác nhận sự khác biệt đó.",
          "enableStreaming": false,
          "batching": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -976,
        -32
      ],
      "id": "0deb5d69-a44e-42ff-8d0d-02faa8fa6df8",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1024,
        192
      ],
      "id": "0889a887-ba29-46f1-9e76-dc40121633e5",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Bz4Sq8E3gzUyJd23",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "\"Sử dụng công cụ này BẤT CỨ KHI NÀO người dùng hỏi về mã HS, phân loại, hoặc mô tả một mặt hàng nông sản. Truyền tên hoặc mô tả của mặt hàng vào đây để tìm các mã HS và biểu thuế liên quan từ cơ sở dữ liệu.\"",
        "qdrantCollection": {
          "__rl": true,
          "value": "hs_codes_agriculture_viet",
          "mode": "list",
          "cachedResultName": "hs_codes_agriculture_viet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -768,
        192
      ],
      "id": "fd290046-1130-4c59-bc53-d398ca50bc94",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "gEsLma1oD9WF6MMQ",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "keepitreal/vietnamese-sbert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -688,
        400
      ],
      "id": "576b6f80-3267-4916-a967-f8ff513ad53c",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "f1CWH3QJEFQIEacx",
          "name": "Hugging Face account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6568dd1c-79bc-4110-a71f-733a9825d29a",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2320,
        624
      ],
      "id": "7e36c073-f8a6-4221-9c66-3e878f78173f",
      "name": "Webhook",
      "webhookId": "6568dd1c-79bc-4110-a71f-733a9825d29a"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"reply\": $json.output }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -400,
        176
      ],
      "id": "5845722f-236a-470d-bc5d-d4671cbd5e8b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Dựa vào luật ở trên, hãy đặt câu hỏi cho tôi.",
        "options": {
          "systemMessage": "=Bạn là chuyên viên tư vấn hải quan. Khách hàng đang muốn tra mã HS cho lô hàng: \"{{ $json.output.current_item }}\"\nHệ thống phát hiện hồ sơ này ĐANG THIẾU thông tin về: \"{{ $json.output.missing_info }}\"\n\nQUY TẮC ĐẶT CÂU HỎI (BẮT BUỘC TUÂN THỦ):\n1. KHÔNG BAO GIỜ đặt câu hỏi mở (Ví dụ cấm: \"Thuộc loại gì?\", \"Làm từ gì?\", \"Quy cách ra sao?\").\n2. PHẢI đặt câu hỏi mang tính chất GỢI Ý. Hãy đưa ra các lựa chọn cụ thể để khách hàng dễ hình dung.\n\nTEMPLATE TRẢ LỜI MẪU:\n\"Dạ để hệ thống xác định chính xác mã HS cho lô hàng [Tên mặt hàng], anh/chị vui lòng cho biết thêm về [Thông tin thiếu]?\nAnh/chị đang xuất khẩu dưới dạng nào ạ:\n- Lựa chọn 1: [Gợi ý 1]\n- Lựa chọn 2: [Gợi ý 2]\n- Hoặc anh/chị mô tả cụ thể giúp em nhé.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -880,
        688
      ],
      "id": "01e9ebed-480c-4200-9969-5ba58b084d48",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"reply\": $json.output }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -400,
        688
      ],
      "id": "e27589fd-ee5c-4d0a-85a2-9da21d9217a4",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -816,
        912
      ],
      "id": "21aeb0a4-2bac-4bb8-8ded-6e3519380259",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "Bz4Sq8E3gzUyJd23",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Bạn là hệ thống kiểm duyệt dữ liệu tờ khai hải quan.\nNhiệm vụ: Đọc lịch sử trò chuyện và gom các thông tin về lô hàng.\n\nQUY TẮC SỐNG CÒN (CHỐNG LẶP VÒNG):\n1. Hãy chú ý đọc kỹ câu trả lời MỚI NHẤT của khách hàng.\n2. Nếu khách hàng ĐÃ TRẢ LỜI ĐÚNG TRỌNG TÂM câu hỏi mà Bot vừa hỏi trước đó, BẠN BẮT BUỘC phải chốt hồ sơ bằng cách trả về:\n   - is_ready: true\n   - missing_info: \"\" (để trống)\n   - final_query: Tổng hợp TẤT CẢ thông tin từ đầu đến giờ thành một câu hoàn chỉnh (VD: \"Rêu và địa y sấy khô, đóng hộp, dùng làm thuốc\").\n3. Chú ý: Bạn là trọng tài, KHÔNG đặt thêm câu hỏi mới nếu khách đã hợp tác trả lời.",
          "enableStreaming": false,
          "batching": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1808,
        224
      ],
      "id": "9584dfe9-7fec-4a3f-b34f-75670153e57e",
      "name": "AI Agent1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1872,
        448
      ],
      "id": "f2738982-5c20-45b5-85de-ecac84f86c39",
      "name": "Groq Chat Model5",
      "credentials": {
        "groqApi": {
          "id": "Bz4Sq8E3gzUyJd23",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1744,
        448
      ],
      "id": "12c9a06e-30f2-42d2-8986-d7bdecc3fba2",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"is_ready\": {\n      \"type\": \"boolean\",\n      \"description\": \"Trả về true CHỈ KHI đã đủ 3 yếu tố: Tên nông sản, Trạng thái (tươi/khô/đông lạnh), Quy cách đóng gói. Nếu thiếu 1 trong 3, trả về false.\"\n    },\n    \"current_item\": {\n      \"type\": \"string\",\n      \"description\": \"Tên mặt hàng Nông sản chính mà người dùng đang muốn tra cứu dựa trên toàn bộ lịch sử chat (ví dụ: Rêu và địa y sấy khô). Tuyệt đối không lấy các câu trả lời bổ sung như 'bao bì', 'thùng carton' làm tên mặt hàng.\"\n    },\n    \"missing_info\": {\n      \"type\": \"string\",\n      \"description\": \"Nêu rõ yếu tố bị thiếu KÈM THEO 2-3 ví dụ phổ biến. VD: 'Quy cách đóng gói (đóng bao bì, đóng hộp, hay hàng xá)' hoặc 'Trạng thái (hàng tươi, hàng đông lạnh hay sấy khô)'\"\n    },\n    \"final_query\": {\n      \"type\": \"string\",\n      \"description\": \"Câu truy vấn hoàn chỉnh để tra cứu. Nếu is_ready là false thì để trống.\"\n    }\n  },\n  \"required\": [\"is_ready\", \"current_item\", \"missing_info\", \"final_query\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1616,
        448
      ],
      "id": "8210523d-f099-4ee8-a7d5-543291e46acc",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1536,
        656
      ],
      "id": "b718e754-7178-48dd-acf6-421b3ee4d675",
      "name": "Groq Chat Model6",
      "credentials": {
        "groqApi": {
          "id": "Bz4Sq8E3gzUyJd23",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "=text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "db59e3f1-521e-49b4-8b85-86c73f5c79b0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "894fcc94-5005-4036-b2a6-b0a64e83f1e3",
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "=button",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2096,
        640
      ],
      "id": "62f2e6eb-7c93-4e91-82c3-98283c31ff69",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7224a39c-48c8-483b-8163-304e285a3c20",
              "leftValue": "={{ $json.output.is_ready }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1248,
        432
      ],
      "id": "7ebb35eb-c55e-4d1e-8d34-ce900830e030",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ceb075f4-af32-4a66-a583-e9ba5991599a",
              "leftValue": "={{ $json.body.data }}",
              "rightValue": "=CONFIRM_HS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1680,
        832
      ],
      "id": "7b84a467-b3fa-4308-af90-5bc1daeb82fe",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": \"✅ Hồ sơ Zero-Stop e-Border của bạn đã được ghi nhận thành công mã HS. Cảm ơn bạn!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1248,
        832
      ],
      "id": "8b740921-c885-4823-8961-f3adec67e5f5",
      "name": "Respond to Webhook2"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8e9a2920-98df-4607-a7ee-a8b6c5d8f659",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd848d1ab77830d96b02b1c7aebceddaf0aa65a6b936137c160d0ab9c8d7070f"
  },
  "id": "iLBr2fB0ZtWpgZPb",
  "tags": []
}